.pokemon-list-wrapper{
    margin: 2rem auto;
}

.heading-List{
    text-align: center;
    font-size: x-large;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.pokemon-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; /* Center all rows */
    margin-top: 2rem;
}

.controls{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.controls > button{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5 ;
    padding-bottom: 0.5rem;
    margin: 1rem;
    text-align: center;
    border-radius: 5px;
}