.pokemon{
    flex-basis: 20%;
    flex-direction: row;
    height: 290px;
    width: 300px;
    align-items: center;
    margin-left: 3px;
}


.pokemon-name{
    font-size: larger;
    letter-spacing: 0.5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 200;
}

.pokemon-image{
    height: 150px;
    max-height: 80%;
}


.pokemon:hover{
    background-color: beige;
}